/*welcome*/
.welcome{
    width: 100%;
    height:31px;
    background:#F5F5F5;
}
.welcome .noLoginDiv,.LoginDiv{
    float: left;
    height: 30px;
    line-height: 32px;
    font-size: 12px;
}
.noLoginDiv a,.LoginDiv a{
    color: #333;
}
.noLoginDiv a:hover,.LoginDiv a:hover{
    color: #36C ;
}
a.orange{
    color: #ed6d00;
}
.welcome ul>li {
    display: block;
    float: left;
    font-size: 12px;
    height:30px;
    line-height: 32px;
    padding-right: 7px;
}
li>a{
    color: #333;
}
li>a:hover{
    color: #ed6d00;
}
/*header*/
.header{
    border-top:1px solid #D6D6D6;
    width: 100%;
    background:#F5F5F5;
    height: 90px;
}
.city{
    height: 90px;
    line-height: 90px;
    position: relative;
}
.city span{
    color: #ed6d00;
    font-size: 20px;
    font-weight: 600;
}
.city a{
    color: #7b7b7b;
    font-size: 11px;
}
.city a:hover{
    color: #ed6d00;
}
/*hidden city*/
.hidden_city{
    width:570px;
    border:2px solid #ed6e02;
    position: absolute;
    background: #fff;
    height: 120px;
    top:65px;
    left:44px;
    z-index: 10000;
}
.hidden_city ul{
    height:100%;
}
.hidden_city ul li{
    height:23px;
    line-height: 23px;
    padding-top: 5px;
}
.hidden_city ul li a{
    padding-left: 10px;
}
.hidden_city ul li span{
    font-size: 12px;
    margin-left: 14px;
    width: 24px;
}
/*搜索框*/
.search-parent{
    height: 70px;
}
.search{
    width: 470px;
    height:31px;
    border:2px solid #ed6d00;
    margin-top: 14px;
    position: relative;
}
.search input{
    border:none;
    width: 64%;
    outline: none;
}
.search .button{
    width: 97px;
    height: 28px;
    background:#ed6d00 ;
    color: #fff;
    line-height: 28px;
    text-align: center;
}
.search .product,.service{
    height:27px;
    line-height: 28px;
    width:70px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background: #F6F6F6;
    color: #666666;
    text-align: center;
    font-size: 14px;
}
.service{
    position: absolute;
    height:30px;
    top:27px;
    padding-right: 15px;
    background: #fff;
    border-radius: 0 0 6px 6px;
}
.hotSearchBox a{
    color: #999;
    font-size: 10px;
}
.hotSearchBox a:hover{
    color:#ed6d00 ;
}
/*nav*/
.widthBg{
    width: 100%;
    background: #f36f2a;
    height: 45px;
    position: relative;
}
.allSort{
    position: relative;

}
.allSort .sortItem{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 213px;
    height: 43px;
}
.allSort .sortItem h6,.nav ul li a{
    color: #fff;
    height: 43px;
    line-height: 43px;
    font-size: 15px;
    font-weight: 600;
    display: block;
    text-align: center;
}
.nav ul li{
    float:left;
    width: 90px;
}
.nav ul li a:hover{
    text-decoration: none;
    background: #ffd0b7;
    color:#f36f2a ;
}
/*订单*/
.paying,.gotoOrder{
    background: #fff;
    display: block;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    height:28px;
    line-height: 28px;
}
.paying{
    color: #666;
    width: 117px;
    border-right: 1px solid #AF9984;
}
.paying:hover{
    text-decoration: none;
    color: #666; ;
}
.gotoOrder:hover{
    text-decoration: none;
    color: #f60;
}
.gotoOrder{
    color: #f60;
    font-weight:bold;
    width: 90px;
    border-left: 1px solid #FFEBD0;
    margin-right: 8px;
}
.orderCart{
    position: relative;
}
.orderCart img{
    margin-top: -4px;
}
/*订单内容部分*/
.section{
    width:100%;
    background:#F5F5F5;
}
.section .center{
  overflow: hidden;
}
.left-side{
    width:200px;
    border:1px solid #ccc;
    background: #fff;
    font-size: 16px;
}
.left-side h3{
    height: 40px;
    line-height: 40px;
    padding-top: 8px;
}
.left-side h3>a{
    display: block;
    font-size: 16px;
    padding-left: 40px;
    color: #5d5d5d;
    text-decoration: none;
}
.left-side h3>a:hover{
    background: #F5F5F5;
    cursor: pointer;
}
.left-side h2{
    height:30px;
    line-height: 30px;
    border-top: 1px dashed #a0a0a0;
    font-size: 16px;
    color: #818181;
    margin: 0 10px;
    padding: 5px 0 0 30px;
}
.sidebar_nav{
    margin:0 0 10px 0;
}
.sidebar_nav li a{
    display: block;
    height: 30px;
   padding-left: 59px;
    line-height: 30px;
    margin-bottom: 1px;
    font-size: 14px;
    color:  #5d5d5d;
}
.sidebar_nav li a:hover{
    text-decoration: none;
    background:#F5F5F5 ;
}
.sidebar_nav li a:focus{
    color: #f60 ;
    background: url(../img/jt_icon.png) 30px 5px no-repeat ;
}
.right-side{
    width:980px;
    background:#fff;
    min-height: 710px;
}
.noLogin_order{
    height:300px;
    color: #666;
    background: #FCFCFC;
    border-radius: 5px 5px 0 0;
    border:1px solid #CDCDCD;
    margin: -10px 48px 0;
    width: 880px;
}
.my_list h5{
    padding: 15px 0px 14px 23px;
    font-size: 17px;
}
.tipDiv{
    margin-top: 30px;
}
.information{
    margin-top: 71px;
    margin-left: 257px;
}
.my_lt,.hide_serve{
    width: 79px;
    height: 226px;
    border: 1px solid #cccccc;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    background: #fff;
    margin-top: -32px;
    margin-left: -10px;
}
.hide{
    display: none;
}
.my_lt ul li{
    clear: both;
    height: 22px;
    margin-bottom: 5px;
    overflow: hidden;
    margin-left:10px;
}
.hide_serve{
    width: 95px;
    height: 154px;
}
.hide_serve ul li{
    margin-left: 10px;
}
.client{
    width: 213px;
    height:138px;
    position: relative;
    background: #fff;
    z-index: 10000;
    border: 1px solid #cccccc;
    border-top:none ;
}
.client a{
float: right;
}
#two{
    padding: 0;
    margin-right: 0px;
    width: 118px;
}
#two.add{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #ccc;
    background: #fff;
    height: 32px;
    position: relative;
    z-index: 10000;
}
.mt{
    margin-top: -45px;
}
.text1,.text2{
    color:#9E9E9E ;
    font-size: 15px;
    font-weight: bold;
}
.text2{
    color:#f60 ;
}
#two dt a{
    color: #000;
    font-weight: normal;
}
#two dt a:hover{
    color:#f60 ;
}
.icon{
    display: block;
}
.pay_hide{
    width: 321px;
    height: 69px;
    border:2px solid #f60;
    overflow: hidden;
    position: absolute;
    top:42px;
    left: -94px;
    background: #fff;
    line-height: 69px;
    color: #666;
    font-size: 14px;
}
/*商品分类隐藏框*/
.category {
    position: absolute;
    top:44px;
}
.allSortDetail {
    border: 2px solid #f36f2a;
    height: 333px;
    width: 212px;
    border-top: none;
    background: #fff7f0;
}
.cateOne {
    height: 190px;
    padding-top: 0px;
}
.allSortDetail ul li {
    left: -1px;
    top: 0px;
    margin-left: -1px;
    float: left;
    height: 36px;
    position: relative;
}
.allSortDetail ul li img{
    margin-right: 5px;
}
.allSortDetail .overr {
    height: 38px;
    width: 178px;
    margin-left: 1px;
    margin-top: -2px;
    position: relative;
    z-index: 999;
}
.allSortDetail h3 {
    width: 189px;
    height: 36px;
    overflow: hidden;
    padding-top: 10px;
    margin-left: 8px;
    border-bottom: 1px solid #feeadb;
    font-size: 14px;
    font-weight: bold;
    background: url("../img/right.png") no-repeat 177px center;
}
.allSortDetail h3 span {
    float: right;
    height: 20px;
    line-height: 16px;
}
.allSortDetail h3 span img{
    margin-top:-24px;
    margin-left: -5px;
}
.allSortDetail h3 span a {
    color: #f60;
    font-size: 12px;
    font-weight: normal;

}
.allSortDetail h3 a {
    font-size: 14px;
    font-weight: bold;
    color: #575757;
    line-height: 20px;
}
/*二级隐藏框*/
.allSortList {
    position: absolute;
    border: 2px solid #f36f2a;
    width: 542px;
    overflow: hidden;
    background: #fff;
    padding: 0px 13px 0px 2px;
    z-index: 2;
}
.allSortList dt {
    font-weight: bold;
    float: left;
    width: 100px;
    white-space: nowrap;
    line-height: 22px;
    height: 22px;
    padding: 4px 6px 0 11px;
    color: #717171;
    text-align: left;
    font-size: 14px;
}
.allSortList dd {
    float: left;
    width: 400px;
}
.allSortList dd a {
    white-space: nowrap;
    color: #717171;
    font-size: 12px;
}
/*我的订单*/

/*订单导航*/
ul.order_list{
    width: 960px;
    height: 44px;
    margin: 0 9px 10px;
    border-bottom: 1px solid #f60;
    border-left: 1px solid #ddd;
}
ul.order_list>li{
    float: left;
    width: 159px;
    height: 43px;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
ul.order_list>li>a{
    color: #333333;
}
#active{
    background: #f60;
    border-right: 1px solid #f60;
    border-top: 1px solid #f60;
}
#active>a{
    color: white;
}
ul.order_list>li:hover{
    border: 1px solid #f60;
}
/*订单搜索*/
.search_mode{
    width: 958px;
    height:35px;
    padding: 7px 7px 0;
    border: 1px solid #e1e1e1;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    margin-left: 9px;
}
.search_mode>.search_input{
    width: 232px;
    height: 18px;
    border: 1px solid #829fbb;
    float: left;
}
.search_mode>.btn{
    float: left;
    margin-left: 5px;
    border: 0;
    cursor: pointer;
    margin-top: -6px;
    height: 31px;
}
/*订单商品*/
.colName{
    width: 958px;
    height: 27px;
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;
    margin-left: 9px;
}
.colName>li{
    float: left;
    color: #333333;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}
.colName>li:first-child{
    width: 366px;
}
.colName>li:nth-child(2){
    width: 58px;
}
.colName>li:nth-child(3){
    width: 74px;
    text-align: center;
}
.colName>li:nth-child(4){
    width: 96px;
}
.colName>li:nth-child(5){
    width: 166px;
}
.colName>li:nth-child(6){
    width: 117px;
}
.colName>li:nth-child(7){
    width: 74px;
}
#order_sel{
    width: 80px;
    height: 23px;
    margin-top: 2px;
}
/*订单详情*/
.no_order{
    width: 958px;
    height: 32px;
    border: 1px solid #e1e1e1;
    padding: 5px 15px;
    margin-left: 9px;
    font-size: 14px;
    color: #333333;
}
.no_order>a{
    font-size: 12px;
    color: #3366cc;
}
.no_order>a:hover{
    text-decoration:underline;
}
/*底部分页*/
.operationBottom{
    width: 958px;
    height: 34px;
    position: relative;
    padding: 6px 0 0 5px;
    background-color: #eee;
    border: 1px solid #e1e1e1;
    margin-left: 9px;
    margin-top: 10px;
}
.operationBottom>ul{
    float: right;
    margin-right: 5px;
}
.operationBottom>ul>li{
    float: left;
    font-size: 14px;
    margin-right: 5px;
}
.operationBottom>ul>li>a{
    color: #333333;
}
.operationBottom>ul>li>a.top{
    width: 53px;
    height: 19px;
    padding: 3px 3px 0 5px;
    background: url(../img/order_bg.gif) -92px -62px no-repeat;
    border-right: 1px solid #e1e1e1;
}
.operationBottom>ul>li>a:hover{
    color: #FF6000;
    text-decoration: underline;
}
.operationBottom>ul>li>a.num{
    background: #f60;
    color: #fff;
    display: block;
    width: 21px;
    height: 22px;
    padding-top: 2px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #d7d7d7;
    margin-top: -2px;
}
.operationBottom>ul>li>a.bot{
    width: 53px;
    height: 19px;
    padding: 3px 5px 0 3px;
    background: url(../img/order_bg.gif) -96px -128px no-repeat;
    border-right: 1px solid #e1e1e1;
    border-left:1px solid #e1e1e1 ;
}
.operationBottom>ul>li>input{
    width: 20px;
    height: 21px;
    line-height: 18px;
    float: left;
    margin-top: -2px;
}
.operationBottom>ul>li>a.sure{
    width: 39px;
    height: 19px;
    padding: 3px 5px 0 5px;
    background: url(../img/order_bg.gif) 0 -73px no-repeat;
    border-right: 1px solid #a9a9a9;
}
/*标题*/
.bg>h1,.pwd>h1,.person>h1,.receive>h1{
    font-size: 18px;
    padding: 15px 0 14px 23px;
    font-weight: bold;
}
/*个人信息*/
.person>div,.receive>div{
    width: 878px;
    height: 300px;
    border: 1px solid #CDCDCD;
    border-radius: 5px 5px 0px 0px;
    color: #cdcdcd;
    background-color: #FCFCFC;
    margin: 0 auto;
}
.person>div>table{
    width: 330px;
    margin: 47px 0 0 115px;
    float: left;
    color: #666666;
}
.person>div>table>tbody>tr{
    height: 29px;
}
.person>div>table>tbody>tr>td{
    font-size: 14px;
}
.person>div>table>tbody>tr>td:first-child{
    font-weight: bold;
    text-align: right;
}
/*头像*/
.person>div>.pic{
    width: 200px;
    height: 240px;
    border: 1px solid #F5F5EF;
    border-radius: 3px;
    margin-left: 70px;
    margin-top: 30px;
    background-color: #FFF;
    float: left;
}
.person>div>.pic>a>img{
    margin: 15px 0 25px 40px;
}
.person>div>.pic>span{
    display: inline-block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #F60;
    text-align: center;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-size: 14px;
    background-color: #f60;
    cursor: pointer;
    margin-left: -1px;
}
.person>div>.pic>span>input{
    opacity: 0;
    font-size: 100px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.person>div>.pic>p{
    font-size: 12px;
    padding: 5px;
}
/*修改密码*/
.pwd>div.update{
    width: 878px;
    height: 370px;
    border: 1px solid #CDCDCD;
    border-radius: 5px 5px 0px 0px;
    color: #666;
    margin: 0 auto;
    background: url(../img/vertical-bar-160-01.png) no-repeat scroll 511px center;
    background-color: #FCFCFC;
}
/*上边错误提示*/
.pwd>.update>.err{
    width: 800px;
    margin-bottom: -23px;
    margin-left: 132px;
    height: 25px;
    margin-top: 15px;
    font-size: 14px;
    color: #ff6000;
}
.pwd>.update>.err>span{
    background: url(../img/icons.png) no-repeat scroll -3px -3px;
    float: left;
    height: 19px;
    margin-left: -22px;
    margin-right: 5px;
    vertical-align: text-top;
    width: 17px;
}
/*错误隐藏*/
.err_none{
    visibility: hidden;
}
/*左边样式*/
.pwd>.update>.left{
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 105px;
}
.pwd>.update>.left>div{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
}
.pwd>.update>.left>div>span{
    float: left;
    width: 20px;
    height: 30px;
    margin-left: 5px;
}
.pwd>.update>.left>div:first-child>span{
    background: url(../img/icons.png) no-repeat scroll -98px 8px;
}
.pwd>.update>.left>div:not(:first-child)>span{
    background: url(../img/icons.png) no-repeat scroll -122px 8px;
}
.pwd>.update>.left>div>input{
    width: 260px;
    height: 33px;
    padding: 10px 0;
    margin-left: 10px;
    border: none;
    outline: none;
    margin-top: 2px;
}
.pwd>.update>.left>div>input::placeholder{
    color: #999999;
}
#phonenumber::placeholder{
    color: #333333;
    font-weight: bold;
    font-size: 14px;
}
.pwd>.update>.left>div:last-child{
    border: none;
}
.pwd>.update>.left>div:last-child>button{
    width: 303px;
    height: 40px;
    background: #FF6000;
    color: white;
    border:none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
/*右边提示*/
.pwd>.update>.right{
    width: 330px;
    height: 134px;
    float: left;
    margin: -311px 0 0 534px;
    font-size: 12px;
}
.pwd>.update>.right>p>span{
    background: url(../img/fillout_order_info.png) no-repeat scroll -76px -2px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
    margin-left: -2px;
}
.pwd>.update>.right>.update_list{
    margin-left:22px;
}
.pwd>.update>.right>.update_list>li>ul{
    margin-left: 22px;
}
.pwd>.update>.right>.update_list>li{
    margin: 3px 0;
}
.pwd>.update>.right>.update_list>li>ul>li{
    margin: 3px 0;
}
/*收货地址*/
.receive_content{
    margin-top: 72px;
    margin-left: 241px;
}
.receive>div{
    width: 878px;
    height: 444px;
    margin: -5px 48px 0;
}
.receive_content span{
    color: red;
}
.receive_content table tr{
    height: 40px;
    font-size: 14px;
    color: #333;
}
.receive_content table tr td input,select{
    border-radius:3px;
    outline: none;
    border: 1px solid #cccccc;
    height:31px;
    color: #999999;
    margin-left: 23px;
}
.receive_content select option{
    color: #333;
}
.receive_content table tr:nth-child(3) td input{
    width: 380px;
}
.receive_content table tr:nth-child(2) td select{
    width: 124px;
}
.save{
    display: block;
    width: 152px;
    height: 40px;
    background-color:#F36F2A;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
.footer{
    width: 100%;
    background:#F5F5F5;
    position: absolute;

}
.pic1{
    list-style-image: url("../img/order.png");
}
.pic2{
    list-style-image: url("../img/pay.png");
}
.pic3{
    list-style-image: url("../img/send.png");
}
.pic4{
    list-style-image: url("../img/service.png");
}
.pic5{
    list-style-image: url("../img/special.png");
}
.pic1,.pic2,.pic3,.pic4,.pic5{
    padding-top: 5px;
}
.foot>li>a{
    color: #666;
    font-size: 12px;
}
.foot>li>a:hover{
    color: #F77C26;
}
.center ul li:first-child{
    color: #F77C26;
    font-weight: bold;
    font-size: 16px;
}
/*返回顶部*/
.goTop{
    position: relative;
    bottom: 0;
    right:12px;
    float: right;
    width: 67px;
    height: 70px;
    text-align: center;
    cursor: pointer;
    background: #B3B3B3;
    color: #fff;
    border-radius: 3px;
}
.goTop:hover{
    color: #fff;
    text-decoration: none;
    background-color: #888888;
}






















